body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
